<a href="https://colab.research.google.com/github/MadhurimaPaul-87/Goeduhub/blob/main/Task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment/Task 3**

## Reg No.: **GO_STP_7205**

# Name:**MADHURIMA PAUL**

## **Date:26/05/2021**

**Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.**

In [2]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = dict(sorted(d.items(), key=operator.itemgetter(1)))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  {0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

**Q.2 Write a Python Program to add a key to a dictionary.**

**Sample Dictionary : {0: 10, 1: 20}**


**Expected Result : {0: 10, 1: 20, 2: 30}**

In [4]:
d={0:10,1:20}
d.update({2:30})
print(d)

{0: 10, 1: 20, 2: 30}

**Q.3 Write a  program that asks for City name and Temperature and builds a dictionary using that. Later on you can input City name and it will tell you the Temperature of that City.**

In [6]:
city_temp={'Houston':78.5,'Jacksonville':79.3,'Las Vegas':79.6,'Austin':79.7,'San Antonio':80.7}
print(city_temp['Austin'])

79.7

**Q. 4 Write a Python program to convert list to list of dictionaries.**

**Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]**

**Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]**

In [7]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name': f, 'color_code': c} for f, c in zip(color_name, color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

**Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),**

![Screenshot 2021-05-26 194846.png]()

**1.Using above create a dictionary of Employees and their Salary**

In [8]:
emp_sal={'John':14,'Smith':13,'Alice':32,'Daneil':21}

**2.Write a program that asks user for three type of inputs,**

**a.print: if user enter print then it should print all Employees with their Salary in this format,**

1.   John ==>14
2.   Smith ==>13
3.   Alice ==>32
4.   Daneil ==>21

**b.add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it**

**c.remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!**

**d.query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.**

In [15]:
user_input= input("Enter your choice :print/add/remove/query:")
if user_input=='print':
  print('John==>14')
  print('Smith==>13')
  print('Alice==>32')
  print('Daneil==>21')
elif user_input=='add':
  emp= input("Enter the name of the Employee to be added :")
  if emp in emp_sal.keys():
    print("Employee name already exists")
  else:
    sal=input(f"Enter the salary of {emp}")
    emp_sal.update({emp:sal})
    print(emp_sal)
elif user_input=='remove':
  name= input("Enter the name to be removed: ")
  if name in emp_sal:
    emp_sal.pop(name)
    print(emp_sal)
  else:
    print("Employee doesn't exist")
elif user_input=='query':
  employee= input("Enter the name of the employee you want to query")
  if employee in emp_sal.keys():
    print(f"The salary is ->{emp_sal[employee]}")
  else:
    print("The employee does not exist")

Enter your choice :print/add/remove/query:add
Enter the name of the Employee to be added :Sam
Enter the salary of Sam20
{'John': 14, 'Smith': 13, 'Alice': 32, 'Daneil': 21, 'Sam': '20'}

# **Questions on Sets-**

**Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).**

**Ans**.Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation. Due to this, frozen sets can be used as keys in Dictionary or as elements of another set.

In [16]:
x = set("A Python Tutorial")
print(x)
print(type(x))

{'A', 'y', 'h', 'n', 'T', 'a', 'l', 'P', 'u', 'o', ' ', 't', 'r', 'i'}
<class 'set'>

In [17]:
fSet = frozenset(x)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'A', 'y', 'h', 'n', 'T', 'a', 'l', 'P', 'u', 'o', ' ', 't', 'r', 'i'})

**Q.2 Find the elements in a given set that are not in another set**

**set1 = {10,20,30,40,50}**

**set2 = {40,50,60,70,80}**

**Difference between set1 and set2 is {10,20,30}**

In [19]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print("Original sets:")
print(set1)
print(set2)
print("Difference of set1 and set2 using difference():")
print(set1.difference(set2))
print("Difference of set2 and set1 using difference():")
print(set2.difference(set1))

Original sets:
{40, 10, 50, 20, 30}
{70, 40, 80, 50, 60}
Difference of set1 and set2 using difference():
{10, 20, 30}
Difference of set2 and set1 using difference():
{80, 60, 70}